.services-container {
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin: auto;
  direction: rtl;
  background-color: transparent;
}

.services-container h1 {
  color: #b30000;
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}

.sort-options,
.filter-options {
  text-align: right;
  margin-bottom: 20px;
}

.sort-options label,
.filter-options label {
  font-size: 16px;
  margin-right: 10px;
  color: #ffffff;
}

.sort-options select,
.filter-options select,
.filter-options input[type="date"] {
  background-color: #444444;
  color: #ffffff;
  border: 1px solid #666666;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  margin-bottom: 10px;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.service-item {
  background-color: #333333;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  flex: 1 1 calc(25% - 15px);
  min-width: 200px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: translateY(-3px);
}

.service-item p {
  margin: 5px 0;
  color: #ffffff;
}

.service-item p strong {
  color: #b30000;
}

.service-item .duration {
  margin-top: 10px;
  font-size: 14px;
  color: #b30000;
}

.service-item .service-email {
  direction: ltr;
  color: #ffffff;
}

button,
button.add-service {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #b30000;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover,
button.add-service:hover {
  background-color: #900000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button.add-service {
  background-color: #b30000;
  margin-top: 20px;
}

button.add-service:hover {
  background-color: #b30000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #222222;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #b30000;
  font-size: 24px;
}

.modal-content input,
.modal-content select {
  display: block;
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #555555;
  border-radius: 4px;
  background-color: #444444;
  color: #ffffff;
}

.modal-content button {
  background-color: #b30000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #cc0000;
}

.error-message {
  color: #dc3545;
  margin-top: 20px;
}
